<% _.each(months, function(oneMonth){ %>
    <ul class="month">
        <li class="month-name"><%- oneMonth.month.format("MMM") %></li>
        <% _.each(oneMonth.days, function(day) { %>
            <li
                class="<%- day.classes %>
                <% _.each(day.events, function(event) { %>
                    <%- event.campaign %> <%- event.target %> <%- event.region %>
                <% }); %>
                "
            >
                <%- day.day %>
                <div class="popup">
                    <button class="close-popup">X</button>
                    <% _.each(day.events, function(event) { %>
                    <div class="event">
                        <div class="event-date"><%- event.prettyDate %></div>
                        <div class="event-name"><%- event.name %></div>
                        <div class="event-location"><%- event.location %></div>
                        <button class="read-more">Read More</button>
                    </div>
                    <% }); %>
                </div>
            </li>
        <% });
            var daysToBeAdded = 31;
            _.each(oneMonth.days, function(day) {
                if (day.date) { daysToBeAdded-- }
            });
            while (daysToBeAdded > 0) { %>
                <li class="notaday">X</li>
                <% daysToBeAdded--;
            }
        %>
    </ul>
<% }); %>
