<% _.each(months, function(oneMonth){ %>
    <ul class="month">
        <li class="month-name"><%- oneMonth.month.format("MMM") %></li>
        <% _.each(oneMonth.days, function(day) { %>
            <li
                class="<%- day.classes %>
                <% _.each(day.events, function(event) { %>
                    <%- event.campaign %> <%- event.target %> <%- event.region %>
                <% }); %>
                "
            >
                <%- day.day %>
                <div class="hidden">
                    <% _.each(day.events, function(event) { %>
                        <%- event.name %>
                        <%- event.prettyDate %>
                        <%- event.location %>
                    <% }); %>
                </div>
            </li>
        <% });
            var daysToBeAdded = 31;
            _.each(oneMonth.days, function(day) {
                if (day.date) { daysToBeAdded-- }
            });
            while (daysToBeAdded > 0) { %>
                <li class="notaday">X</li>
                <% daysToBeAdded--;
            }
        %>
    </ul>
<% }); %>
