<div class="filters calendar-filters">
    <div class="filter-row">
        <button class="active" data-filter="*" data-type="targets">All</button>
        <% _.each(targets, function (targets) { %>
            <% _.each(targets, function (target) { %>
                <button data-filter=".<%- target.slug %>" data-type="targets">
                    <div class="tooltip">
                        <div class="inner hidden"><%- target.description %></div>
                    </div>
                    <%- target.title %>
                </button>
            <% }); %>
        <% }); %>
    </div>

    <div class="filter-row">
        <button class="active" data-filter="*" data-type="campaigns">All</button>
        <% _.each(campaigns, function (campaign) { %>
            <button data-filter=".<%- campaign.slug %>" data-type="campaigns">
                <%- campaign.title %>
            </button>
        <% }); %>
    </div>

    <div class="filter-row">
        <button class="active" data-filter="*" data-type="regions">All</button>
        <% _.each(regions, function (region) { %>
            <button data-filter=".<%- region.slug %>" data-type="regions">
                <%- region.title %>
            </button>
        <% }); %>
    </div>
</div>
