<div class="campaigns-container">
    <% _.each(campaigns, function (campaign) { %>
        <div class="campaign <%- campaign.targetSlug %>">
            <div class="inner">
                <h4 class="title"><%= campaign.title %></h4>
                <h6 class="title subtitle"><%= campaign.targetName %></h6>
                <p class="description"><%= campaign.description %></p>
                <% if (campaign.image) { %>
                    <img src="<%- campaign.image %>" class="scale" alt="<%= campaign.title %>">
                <% } %>
            </div>
        </div>
    <% }); %>
</div>
