<button class="close-modal">X</button>
<% _.each(event, function(event) { %>

    <div class="event-date">
        <%- event.prettyDate %>
    </div>
    <div class="event-name">
        <%- event.name %>
    </div>
    <div class="event-location">
        <%- event.region %> | <%- event.location %>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <%- event.description %>
        </div>
        <div class="col-sm-8">
            <div class="flexslider">
                <ul class="slides">
                    <% _.each(event.images, function (slide) { %>
                        <% if (slide.image) { %>
                            <li>
                                <img src="<%- slide.image %>" alt="<%- event.name %>">
                            </li>
                        <% } %>
                    <% }); %>
                </ul>
            </div>
        </div>
    </div>
<% }) %>
