<button class="menu-item menu-item-dropdown">
    <span class="current-year">
        <% _.each(years, function (year) { %>
            <% if (year.isCurrent) { %> <%- year.year %> <% } %>
        <% }); %>
    </span>
    <i class="fa fa-arrow-circle-down"></i>
    <ul id="year-selector" class="dropdown year-selector">
        <% _.each(years, function (year) { %>
            <li data-value="<%- year.year %>">
                <%- year.year %>
            </li>
        <% }); %>
    </ul>
</button>
